/*@ #CSS-RESETS */
:root {
	font-size: 62.5%;

	--color-primary: #5d60ef;
	--color-secondary: #ffffff;
	--color-heading: #100841;
	--color-accent: #fafbfd;
	--color-text-primary: #75778c;
	--color-text-secondary: #85868e;

	--color-pink: #f95b7b;
	--color-orange: #ff947e;
	--color-yellow: #ffa800;
	--color-green: #3dd857;
	--color-purple: #be84fd;

	--color-pink-accent: #ffe2e6;
	--color-orange-accent: #ffd5a5;
	--color-yellow-accent: #fdf5de;
	--color-green-accent: #dcfce7;
	--color-purple-accent: #f4e8fe;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family:
		'Poppins',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

/*@ #GENERAL-STYLES */
.btn {
	padding: 1rem 2rem;
	font-size: 1.7rem;
	border-radius: 1rem;
	outline: none;
	border: 0;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}

.btn--primary {
	width: 80%;
	color: var(--color-primary);
	font-weight: 600;
}

.btn--secondary {
	background-color: var(--color-secondary);
	color: var(--color-text-primary);
	border: 1px solid var(--color-text-primary);
}

/*@ #CONTAINER-STYLES */
.container {
	display: grid;
	grid-template-columns: 2fr 9fr;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
}

/*@ LOGO-STYLES */
.dabang-logo__container {
	padding: 1.4rem;

	display: flex;
	gap: 2rem;
	align-items: center;
}

.dabang__logo {
	height: 5.5rem;
	width: 5.5rem;
	padding: 0 1.2rem;
	border-radius: 1rem;
}

.dabang__logo--primary {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}

.dabang__logo--secondary {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.dabang__heading {
	color: var(--color-heading);

	font-size: 3rem;
	font-weight: 600;
}

/*@ #SIDEBAR-STYLES */
.sidebar {
	grid-row: span 2;

	display: flex;
	flex-direction: column;
	gap: 3rem;

	padding: 3rem;
}

.sidebar-nav {
	> ul {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0 1.4rem;
	}
}

.sidebar-nav__link {
	border-radius: 1.2rem;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1.5rem 2.5rem;
	color: var(--color-text-primary);

	&:hover {
		background-color: var(--color-primary);

		color: var(--color-secondary);
	}

	> svg {
		height: 3.2rem;
		width: 3.2rem;
	}

	> span {
		font-size: 1.7rem;
		font-weight: 400;
	}
}

.sidebar-nav__link--active {
	background-color: var(--color-primary);
	color: var(--color-secondary);

	> span {
		font-weight: 600;
	}
}

.dabang-ad {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 3rem;
	gap: 2rem;
	background-color: var(--color-primary);
	border-radius: 1rem;
}

.dabang-ad__heading {
	color: var(--color-secondary);
	font-size: 3rem;
}

.dabang-ad__description {
	color: var(--color-secondary);
	font-size: 1.2rem;
	text-wrap: pretty;
	text-align: center;
}

/*@ #HEADER-STYLES */
.header {
	display: flex;
	justify-content: space-between;
	padding: 3.5rem;
	align-items: center;
}

.page__heading {
	font-size: 3.5rem;
	font-weight: 600;
	color: var(--color-heading);
}

.header__right {
	display: flex;
	gap: 4rem;
	align-items: center;
}

.header__search-container {
	position: relative;
}

.header__search-input {
	padding: 2rem 5rem;
	font-size: 2rem;
	outline: none;
	border: none;
	background-color: var(--color-accent);
}

.header__search-icon {
	position: absolute;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-primary);
	top: 1.75rem;
	left: 1.75rem;
}

.header__country-dropdown {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.header__country-dropdown--country-flag {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
}

.header__country-dropdown--country-name {
	font-size: 2.5rem;
	color: var(--color-text-primary);
	font-weight: 500;
}

.header__user-container {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.header__notification-icon {
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-primary);
}

.header__user {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.header__user--avatar {
	height: 6rem;
	width: 6rem;
	border-radius: 1rem;
}

.header__user--info {
	display: flex;
	flex-direction: column;
}

.header__user--name {
	font-size: 1.6rem;
	font-weight: 500;
}

.header__user--role {
	font-size: 1.2rem;
	font-weight: 300;
}
