/*@ #CSS-RESETS */
:root {
	font-size: 62.5%;

	--color-primary: #5d60ef;
	--color-secondary: #ffffff;
	--color-heading: #100841;
	--color-accent: #fafbfd;
	--color-text-primary: #75778c;
	--color-text-secondary: rgb(90, 90, 90);
	--color-pink: #f95b7b;
	--color-orange: #ff947e;
	--color-yellow: #ffa800;
	--color-green: #3dd857;
	--color-purple: #be84fd;
	--color-blue: #0295ff;

	--color-pink-accent: #ffe2e6;
	--color-orange-accent: #fff4de;
	--color-yellow-accent: #fdf5de;
	--color-green-accent: #dcfce7;
	--color-purple-accent: #f4e8fe;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family:
		'Poppins',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

/*@ #GENERAL-STYLES */
.btn {
	padding: 1rem 2rem;
	font-size: 1.7rem;
	border-radius: 1rem;
	outline: none;
	border: 0;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}

.btn--primary {
	width: 80%;
	color: var(--color-primary);
	font-weight: 600;
}

.btn--secondary {
	color: var(--color-text-secondary);
	background-color: var(--color-secondary);
	border: 1px solid var(--color-text-primary);
}

.icon {
	height: 4.5rem;
	width: 4.5rem;
	padding: 1rem;
}

.pink-text {
	color: var(--color-pink);
}

.pink-bg {
	background-color: var(--color-pink);
}

.pink-border {
	border: 1px solid var(--color-pink);
}

.pink-accent-bg {
	background-color: var(--color-pink-accent);
}

.orange-text {
	color: var(--color-orange);
}

.orange-bg {
	background-color: var(--color-orange);
}

.orange-border {
	border: 1px solid var(--color-orange);
}

.orange-accent-bg {
	background-color: var(--color-orange-accent);
}

.yellow-text {
	color: var(--color-yellow);
}

.yellow-bg {
	background-color: var(--color-yellow);
}

.yellow-border {
	border: 1px solid var(--color-yellow);
}

.yellow-accent-bg {
	background-color: var(--color-yellow-accent);
}

.green-text {
	color: var(--color-green);
}

.green-bg {
	background-color: var(--color-green);
}

.green-border {
	border: 1px solid var(--color-green);
}

.green-accent-bg {
	background-color: var(--color-green-accent);
}

.purple-text {
	color: var(--color-purple);
}

.purple-bg {
	background-color: var(--color-purple);
}

.purple-border {
	border: 1px solid var(--color-purple);
}

.purple-accent-bg {
	background-color: var(--color-purple-accent);
}

.blue-text {
	color: var(--color-blue);
}

.blue-bg {
	background-color: var(--color-blue);
}

.blue-border {
	border: 1px solid var(--color-blue);
}

.square {
	height: 1rem;
	width: 1rem;
}

.circle {
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
}

.squircle {
	height: 1rem;
	width: 1rem;
	border-radius: 0.3rem;
}

/*@ #CONTAINER-STYLES */
.container {
	min-height: 100vh;

	display: grid;
	grid-template-columns: 2fr 9fr;
	grid-template-rows: auto 1fr;
}

/*@ LOGO-STYLES */
.dabang-logo__container {
	padding: 1.4rem;

	display: flex;
	align-items: center;
	gap: 2rem;
}

.dabang__logo {
	height: 5.5rem;
	width: 5.5rem;
	padding: 0 1.2rem;
	border-radius: 1rem;
}

.dabang__logo--primary {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}

.dabang__logo--secondary {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.dabang__heading {
	color: var(--color-heading);
	font-size: 3rem;
	font-weight: 600;
}

/*@ #SIDEBAR-STYLES */
.sidebar {
	grid-row: span 2;

	padding: 3rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.sidebar-nav {
	> ul {
		padding: 0 1.4rem;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
}

.sidebar-nav__link {
	color: var(--color-text-secondary);
	padding: 1rem 2rem;
	border-radius: 1.2rem;

	display: flex;
	align-items: center;
	gap: 2rem;

	transition: all 0.3s;

	&:hover {
		color: var(--color-secondary);
		background-color: var(--color-primary);
	}

	> span {
		font-size: 1.7rem;
		font-weight: 400;
	}
}

.sidebar-nav__link--active {
	color: var(--color-secondary);
	background-color: var(--color-primary);

	> span {
		font-weight: 600;
	}
}

.dabang-ad {
	padding: 2rem 3rem;
	background-color: var(--color-primary);
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.dabang-ad__heading {
	color: var(--color-secondary);
	font-size: 3rem;
}

.dabang-ad__description {
	color: var(--color-secondary);
	font-size: 1.2rem;
	text-wrap: pretty;
	text-align: center;
}

/*@ #HEADER-STYLES */
.header {
	padding: 3.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page__heading {
	color: var(--color-heading);
	font-size: 3.5rem;
	font-weight: 600;
}

.header__right {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.header__search-container {
	position: relative;
}

.header__search-input {
	background-color: var(--color-accent);
	padding: 2rem 5rem;
	font-size: 2rem;
	border: 1px solid var(--color-text-secondary);
	border-radius: 1rem;

	outline: none;
}

.header__search-icon {
	position: absolute;
	top: 1.75rem;
	left: 1.75rem;

	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-primary);
}

.header__country-dropdown {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.header__country-dropdown--country-flag {
	width: 2.5rem;
	border-radius: 50%;
}

.header__country-dropdown--country-name {
	color: var(--color-text-primary);
	font-size: 2.5rem;
	font-weight: 500;
}

.header__user-container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.header__notification-icon {
	color: var(--color-yellow);
	border-radius: 1rem;
}

.header__user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header__user--avatar {
	width: 6rem;
	border-radius: 1rem;
}

.header__user--info {
	display: flex;
	flex-direction: column;
}

.header__user--name {
	font-size: 1.6rem;
	font-weight: 500;
}

.header__user--role {
	font-size: 1.2rem;
	font-weight: 300;
}

/*@ #MAIN-STYLES */
.main {
	background-color: var(--color-accent);
	padding: 3rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.card__container {
	border-radius: 1.5rem;

	display: flex;
	gap: 3rem;
}

.card {
	flex-grow: 1;

	padding: 2rem;
	background-color: var(--color-secondary);
	border-radius: 1.5rem;
	box-shadow: -0.3rem 0.7rem 0.7rem #e6e6e6;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card__heading {
	color: var(--color-heading);
	font-size: 2rem;
	font-weight: 600;
}

.card__description {
	color: var(--color-text-secondary);
	font-size: 1.5rem;
}

.sales-card__panel {
	display: flex;
	gap: 1rem;
}

.sales-card__tile {
	flex-grow: 1;

	padding: 2rem;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sales-card__tile-icon {
	color: var(--color-secondary);
	border-radius: 50%;
}

.sales-card__tile-price {
	color: var(--color-heading);
	font-size: 2.5rem;
	font-weight: 400;
}

.sales-card__tile-info {
	color: var(--color-text-secondary);
	font-size: 1.5rem;
	font-weight: 500;
}

.sales-card__tile-growth {
	color: var(--color-primary);
	font-size: 1.2rem;
}

.chart-indicators-container {
	display: flex;
	justify-content: center;
	gap: 1rem;

	> .chart-indicator {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.target-indicators-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.target-indicator {
	display: grid;
	grid-template-columns: 3fr 2fr;
	align-items: center;
	gap: 0.5rem;
}

.target-indicator--info {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.target-indicator--icon {
	border-radius: 1rem;
}

.target-indicator--details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.target-indicator--heading {
	color: black;
	font-size: 1.4rem;
	font-weight: 500;
}

.target-indicator--place {
	color: var(--color-text-secondary);
}

.target-indicator--value {
	font-size: 1.6rem;
	font-weight: 500;
}

.top-product-table--grid {
	display: grid;
	grid-template-columns: 1fr 5fr 7fr 2fr;
	align-items: center;
	gap: 2rem;
}

.top-product-table--header {
	color: var(--color-text-secondary);
	padding: 1.5rem 0;
	font-size: 1.2rem;
	font-weight: 400;
	text-align: left;
}

.top-product-table--row {
	color: #41434e;
	font-size: 1.5rem;
	font-weight: 400;
	padding: 1.5rem 0;
	border-top: 1px solid #c6c6c6;
}

.top-product-table--popularity {
	display: flex;
	align-items: center;

	> span {
		height: 0.7rem;
	}

	> span:first-child {
		width: 70%;
		border-top-left-radius: 0.2rem;
		border-bottom-left-radius: 0.2rem;
	}

	> span:last-child {
		width: 30%;
		border-top-right-radius: 0.2rem;
		border-bottom-right-radius: 0.2rem;
	}
}

.top-product-table--sales {
	padding: 0 1rem;
	border-radius: 0.5rem;
	text-align: center;
}
